@{
	Layout = "_Layout";
}
@using ForageMvc.Models
@using System;

<h3>Select Difficulty Level:</h3>
<form id="DifficultyLevel">
  <select class="form-control" id="select">
      <option>Select Level</option> 
      <option value="easy">Easy</option> 
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>  
  </select>
<button id="button" type="submit">Select</button>
</form>

<script type="text/javascript">
function submitEvent(event) {
  event.preventDefault();
  handleFormSubmission();
}
function handleFormSubmission () {
  hideResults();
  let formvalue = document.getElementById("select").value;
    if (formvalue == "easy") {
        document.getElementById("easy").removeAttribute("class", "hidden");
    }
    if (formvalue == "medium") {
        document.getElementById("medium").removeAttribute("class", "hidden");
    }
    if (formvalue == "hard") {
        document.getElementById("hard").removeAttribute("class", "hidden");
    }
    else {
    }
}
  function hideResults() {
  document.getElementById("easy").setAttribute("class", "hidden"); 
  document.getElementById("medium").setAttribute("class", "hidden"); 
  document.getElementById("hard").setAttribute("class", "hidden"); 
}

window.addEventListener("load", function() {
  hideResults();
  const form = document.getElementById("DifficultyLevel");
  form.addEventListener("submit", submitEvent);
});
</script>

<div id="easy" class="hidden">
<ul>
	@foreach (Item item in Model)
	{
    if (item.Difficulty == "easy")
    {
		<li>
			<p>@item.Name | @item.Category | @item.Difficulty </p>
		</li>
		<br>
    }
	}
</ul>
</div>

<div id="medium" class="hidden">
<ul>
	@foreach (Item item in Model)
	{
    if (item.Difficulty == "medium")
    {
		<li>
			<p>@item.Name | @item.Category | @item.Difficulty</p>
		</li>
		<br>
    }
	}
</ul>
</div>

<div id="hard" class="hidden">
<ul>
	@foreach (Item item in Model)
	{
    if (item.Difficulty == "hard")
    {
		<li>
			<p>@item.Name | @item.Category | @item.Difficulty</p>
		</li>
		<br>
    }
	}
</ul>
</div>