@{
  Layout = "_Layout";
} 
<head> <link rel="stylesheet" href="~/css/site.css"> </head>

@model ForageMvc.Models.Item
@using System; 
@using System.Web; 
@using ForageMvc.Models

<h3 id="Name">@Model.Name</h3>
<iframe src="@Url.Content(Model.Picture)" width="640" height="480" allow="autoplay"></iframe>
<div id="details">
<p>@Model.Type</p>
<p>Botanical Name:<br> @Model.Latin</p>
<p>Description:<br> @Model.Description</p>
<p>Habitat:<br> @Model.Habitat</p>
<p>Smell:<br> @Model.Smell</p>
<p>Taste:<br> @Model.Taste</p>

@if (Model.Edible == true)
{
<p>Edible!<br>@Model.EdibleDesc</p>

}
else
{
<p>Toxic!<br>@Model.EdibleDesc</p>
}


<p>@Model.Symbolism</p>
<p>@Model.History </p>
@* <p>Score:<br> @Model.Score</p> *@


<p></p>
@using (Html.BeginForm())
{
  @Html.Label("Found")
  @Html.EditorFor(model => model.Found)
}
</div>